@import './reset.less';
@cerulean: #33C5F5;
@purple: #0A0842;
@lightoran: #4A40BF;
@pale: #E7E1EE;

.App {
  color: white;
  font-family: 'Lato', sans-serif;
  height: 250vh;
  overflow: hidden;
  .pages {
    position: absolute;
    left: 0;
    top: 72px;
    // height: 200vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0842;
  }
  .page {
    width: 75%;
  }
}
